body {
    font-family:"Hiragino Sans GB", Palatino, "Palatino Linotype", "Wenquanyi Zen Hei", "Georgia", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    font-size:14px;
    padding: 0;
    margin: 0;
    background-color:#FFFFEA;
}

#wrapper {
    margin: 0 auto;
    max-width: 860px;
}

a { color:#AA0000; text-decoration:none; }

blockquote, quote { padding-left: 8px; display: block; color: #0F7332; border-left: 4px solid #cccccc; }

p code {padding:1px 5px;}
code {background-color:#EEEEEE; color:#222222; margin:0 2px; padding:0 6px; font-size:14px; font-family: Monaco,Consolas,Menlo,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;}

.entry {  margin-left: 10px; }
.entry h1 { font-family:Georgia; font-size:20px; }
.entry-content { line-height: 23px; font-size:16px; }
.entry-content h2 { font-size:1.1em; }
.entry-content a { color: #B51C1E; }
.entry-content a:hover { background-color: #B51C1E; color: #FFFFFF; }
.entry-meta { font-size: 13px; margin-top: 20px; }

.cg { color: green; }
.cr { color: red; }
.cb { color: blue; }
