appnope==0.1.0
beautifulsoup4==4.4.1
decorator==4.0.4
Django==1.9b1
gnureadline==6.3.3
ipython==4.0.0
ipython-genutils==0.1.0
Markdown==2.6.3
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
Pygments==2.0.2
simplegeneric==0.8.1
traitlets==4.0.0
