<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon" />
  <link type="text/css" rel="stylesheet" href="/media/css/pygments.css" />
  <link type="text/css" rel="stylesheet" href="/media/css/article.css" />

  <title>{% block title %}竹一木的部落格{% endblock %}</title>
</head>
<body>

<div id="wrapper">
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18137446-1']);
  _gaq.push(['_setDomainName', '.mitnk.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
