{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block extra_css %}
  <link type="text/css" rel="stylesheet" href="/media/css/pygments.css" />
{% endblock %}

{% load common_tags %}

{% block content %}
<div class="entry">
    <article itemtype="http://schema.org/Blog">
        <h1 class="entry-title">{{ title }}</h1>
        <div class="entry-content">
            {{ content|pygments_markdown|safe }}
        </div>
    </article>

    <div class="entry-meta">
        Posted at {{ time_added|date:"N j, Y" }}
    </div>

</div>
{% endblock %}
